@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    color: #fff;
}

.aviator {
    position: relative;
    background-image: url(/img/bg.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.coin1 {
    position: absolute;
    width: 123px;
    height: 89px;
    top: 32%;
    right: -60px;
}

.coin2 {
    position: absolute;
    width: 131px;
    height: 77px;
    top: 15%;
    left: -35px;
}

.coin3 {
    position: absolute;
    width: 86px;
    height: 99px;
    left: 52%;
    bottom: 19px;
}

.coin4 {
    position: absolute;
    width: 72px;
    height: 81px;
    left: 22%;
    bottom: 36px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.aviator__content {
    padding: 40px 0 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.aviator__logo-img {
    width: 65px;
    height: 50px;
}

.aviator__video {
    width: 229px;
    height: 480px;
}

.aviator__earn {
    display: flex;
    align-items: center;
    gap: 60px;
}

.earn__money {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.earn__money_item {
    display: flex;
    gap: 12px;
}

.earn__money_step-num {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E10838;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
}

.earn__money_step-text {
    max-width: 255px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.earn__money_btn {
    margin-top: 20px;
    padding: 18px 50px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 100px;
    background: linear-gradient(84.35deg, #FF0E46 11.46%, #E30036 31.95%, #FD264E 55.35%, #FF345D 76.53%, #FD0A46 97.17%);
    border: 2px solid #FF5471;
    box-shadow: 0px 0px 16px 0px #F0043E;
    transition: .4s;
    cursor: pointer;
}

.earn__money_btn:hover {
    background: linear-gradient(84.35deg, #f32958 11.46%, #d30233 31.95%, #af0524 55.35%, #980623 76.53%, #fc0341 97.17%);
}

/* Media */

@media (max-width:960px) {
    .coin3 {
        left: 50%;
        bottom: 0px;
    }
}

@media (max-width:770px){
    .aviator__earn {
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    .earn__money {
        gap: 12px;
    }

    .earn__money_item {
        align-items: center;
    }

    .earn__money_step-num {
        line-height: 17.5px;
        font-size: 14px;
        font-weight: 600;
    }

    .earn__money_step-text {
        max-width: 415px;
        font-size: 16px;
        line-height: 20px;
    }

    .coin4 {
        left: 48px;
        bottom: 26px;
    }

    .coin3 {
        left: 83%;
        bottom: 0px;
    }
}

@media (max-width:490px) {
    .aviator__content {
        padding: 20px 29px 78px 29px;
        gap: 30px;
    }

    .aviator__earn {
        gap: 30px;
    }

    .earn__money_step-text {
        max-width: 193px;
    }

    .earn__money_btn {
        margin-top: 12px;
    }

    .aviator__video {
        width: 190px;
        height: 400px;
    }

    .coin1 {
        width: 72px;
        height: 52px;
        top: 35%;
        right: -40px;
    }
    
    .coin2 {
        width: 97px;
        height: 57px;
        top: 12%;
        left: -35px;
    }

    .coin3 {
        width: 60px;
        height: 69px;
        left: 87%;
        bottom: -20px;
    }

    .coin4 {
        width: 40px;
        height: 45px;
        left: 70px;
        bottom: 14px;
    }
}